{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ livre.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ livre.titre }}</td>
        </tr>
        <tr>
            <th>Isbn</th>
            <td>{{ livre.isbn }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ livre.date }}</td>
        </tr>
        <tr>
            <th>Auteur</th>
            <td>
                {% for auteur in livre.auteur %}
                    {{ auteur.nom }} {{ auteur.prenom }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Genre</th>
            <td>{{ livre.genre.libelle }}</td>
        </tr>
        <tr>
            <th>Emprunté par</th>
            <td>
                {% if livre.emprunt %}
                    {{ livre.emprunt.email }}
                {% else %}
                    Ce livre n'a pas été emprunté.
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livre_index') }}">Retour à la liste</a>

    <a href="{{ path('app_livre_edit', {'id': livre.id}) }}">Éditer</a>

    {{ include('livre/_delete_form.html.twig') }}
{% endblock %}
